/grails-spring-security-cas-*.zip
/*.log
/target
/plugin.xml
/testapps.config.groovy
grails-spring-security-cas.iml
grails-spring-security-cas.ipr
grails-spring-security-cas.iws
grails-spring-security-cas-grailsPlugins.iml
.idea
target/
.DS_Store
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
*.iml
.idea
.idea/workspace.xml
.idea/**/*
out/
**-rtl.css
